<template name="backDashboard">
  <section class="head">
    <h1 class="gridFlexPriority textCapitalize textWeightLighter">Tableau de bord</h1>
    <form class="" action="index.html" method="post">
      <select class="textCapitalize textWeightLighter TextSizeSmall" name="">
        <option value="">Tous les projets</option>
      </select>
    </form>
  </section>
  <section class="gridFlexPriority">

  </section>
  <section class="gridListArticle">
    <article class="gridArticle">
      <h2 class="textCapitalize textPaddingBottom textWeightLighter">Projet Développement 2017</h2>
      <p class="textCapitalize textColorGrey textAlignLeft">Mis à jour à 23h35</p>
    </article>
    <article class="gridArticle">
      <h2 class="textCapitalize textPaddingBottom textWeightLighter">Vinpai</h2>
      <p class="textCapitalize textColorGrey textAlignLeft">Mis à jour à 23h35</p>
    </article>
    <article class="gridArticle">
      <h2 class="textCapitalize textPaddingBottom textWeightLighter">Gamecatchers</h2>
      <p class="textCapitalize textColorGrey textAlignLeft">Mis à jour à 23h35</p>
    </article>
    <article class="gridArticle noBackground textWeightLighter">
      <h2 class="textCapitalize textPaddingBottom textAlignCenter textWeightBolder" style="font-size: 48px;">+</h2>
      <p class="textCapitalize textAlignCenter">Créer un projet</p>
    </article>
  </section>
</template>
