<template name="backListInvoices">
  <main class="GridContainer">
    <section class="head">
      <h1 class="gridFlexPriority textCapitalize textWeightLighter">{{ project.name }} <span class="textColorRed textWeightBold">#Factures</span></h1>
      <form class="" action="index.html" method="post">
      </form>
    </section>
    <section class="gridListArticle gridListArticleSearch gridFlexPriority">
      {{ #each projects }}
      <article class="gridArticle">
        <h2 class="textCapitalize textPaddingBottom textWeightLighter">{{ name }}</h2>
        <p class="textCapitalize textColorGrey textAlignLeft">Mis à jour à 23h35</p>
      </article>
      {{/each}}
    </section>
  </main>
  {{> backAsideProject customerName=customer.name customerSummary=customer.infos.summary customerEmail=customer.email customerPhone=customer.phone  }}
</template>
