<template name="backNewCustomer">
  <div class="formContainer">
    <div class="closeIcon">
      <a href="{{ pathFor route='backDashboard' }}">
        <i class="im im-x-mark-circle-o"></i>
      </a>
    </div>
    <div class="frontGridContainer">
      <form>
        <div class="form-group form-group-small">
          {{ > input type='text' name='name' label='Titre du client' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='lastName' label='Nom du client' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='firstName' label='Prénom du client' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='email' name='email' label='Adresse email' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='summary' label='Description' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='phoneNumber' label='Téléphone' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='street' label='Adresse (Rue)' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='zipCode' label='Code Postal' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='city' label='Ville' }}
        </div>
        <div class="form-group form-group-small">
          {{ > input type='text' name='country' label='Pays' }}
        </div>
        <div class="form-group">
          <button type="submit" name="button" class="textCapitalize"><i class="im im im-floppy-disk iconText textColorYellow"></i> Créer le client</button>
        </div>
      </form>
    </div>
  </div>
</template>
