<template name="backNewInvoice">
  <main class="GridContainer">
    <section class="head">
      <h1 class="gridFlexPriority textCapitalize textWeightLighter">Créer une facture</h1>
      <form class="" action="index.html" method="post">
      </form>
    </section>
    <section class="gridListArticle gridListArticleSearch gridFlexPriority">
      <div class="invoice">
          <div class="invoice__header">
            <div class="invoice__header__to">
                <h3>{{ customer.name }}</h3>
                <p class="adress">
                    {{ customer.address.street }}, {{ customer.address.city }}<br>
                    {{ customer.address.zipCode }} {{ customer.address.country }}
                </p>
                <P class="contactInfos">
                    {{ customer.email }}<br>
                    {{ customer.phone }}
                </P>
            </div>

              <div class="invoice__header__total">
                  <h3>Total dû: <b>3 200€</b></h3>
              </div>
          </div>

          <div class="invoice__body">
              <table>
                  <thead>
                      <tr>
                          <th>Nom du service</th>
                          <th>Prix HT</th>
                          <th>Quantitée</th>
                          <th>Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Hebergement OVH</td>
                          <td>325€</td>
                          <td>3</td>
                          <td>1 023€</td>
                      </tr>
                      <tr>
                          <td>Hebergement OVH</td>
                          <td>325€</td>
                          <td>3</td>
                          <td>1 023€</td>
                      </tr>
                      <tr>
                          <td><input type="text" placeholder="Service"></td>
                          <td><input type="number" placeholder="Prix HT"></td>
                          <td><input type="number" placeholder="Quantitée"></td>
                          <td><input type="number" placeholder="Total"></td>
                      </tr>
                      <tr>
                          <td colspan="4"><button><i class="im im-plus-circle textIcon"></i> Ajouter un service</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </section>
  </main>
  {{> backAsideProject customerName=customer.name customerSummary=customer.infos.summary customerEmail=customer.email customerPhone=customer.phone  }}
</template>
