<template name="backNewProject">
  <div class="formContainer">
    <div class="closeIcon">
      <a href="{{ pathFor route='backDashboard' }}">
        <i class="im im-x-mark-circle-o"></i>
      </a>
    </div>
    <div class="frontGridContainer">
      <form>
        <div class="form-group">
          {{ > input type='text' name='projectName' label='Nom du projet' }}
        </div>
        <div class="form-group">
          <ul class="inputSelect">
            <i class="im im-angle-down selectIcon"></i>
            <li class="inactive">Client</li>
            {{ #each customers }}
              {{ > inputSelect }}
            {{ /each }}
          </ul>
        </div>
        <div class="form-group">
          <button type="submit" name="button" class="textCapitalize"><i class="im im-floppy-disk iconText textColorYellow"></i> Créer le projet</button>
        </div>
      </form>
    </div>
  </div>
</template>
