<template name="backProject">
  <div class="formContainer">
    <div class="closeIcon">
      <a href="{{ pathFor route='backDashboard' }}">
        <i class="im im-x-mark-circle-o"></i>
      </a>
    </div>
    <div class="frontGridContainer">
      <form>
        <div class="form-group">
          <a href="{{ pathFor route='backEditProject' _id=project._id }}" class="textColorGrey">Projet #{{ project.name }}</a>
        </div>
        <div class="form-group">
          <a href="{{ pathFor route='backListQuotations' _id=project._id }}"><i class="im im-file iconText textColorYellow"></i> Devis</a>
        </div>
        <div class="form-group">
          <a href="{{ pathFor route='backListInvoices' _id=project._id }}" class="textCapitalize"><i class="im im-file iconText textColorYellow"></i> Factures</a>
        </div>
        {{ #if customer }}
        <div class="form-group">
          <a href="{{ pathFor route='backEditCustomer' _id=project.customerId }}" class="textCapitalize"><i class="im im-pencil iconText textColorYellow"></i> Modifier le client</a>
        </div>
        {{ else }}
        <div class="form-group">
          <a href="{{ pathFor route='backEditProject' _id=project._id }}" class="textCapitalize"><i class="im im-link iconText textColorYellow"></i> Lier à un client</a>
        </div>
        {{ /if }}
        <div class="form-group">
          <button type="button" class="textColorRed" name="delete"><i class="im im-x-mark iconText textColorRed"></i> Supprimer le projet</button>
        </div>
      </form>
    </div>
  </div>
</template>
