<template name="backSettings">
  <div class="formContainer">
    <div class="closeIcon">
      <a href="{{ pathFor route='backDashboard' }}">
        <i class="im im-x-mark-circle-o"></i>
      </a>
    </div>
    <div class="frontGridContainer">
      <form>
        <div class="form-group">
          <div class="inputAvatar">
            <i class="im im-cloud-upload"></i>
          </div>
        </div>
        <div class="form-group">
          {{ > input type='text' name='firstName' label='Nom' value=profile.name }}
        </div>
        <div class="form-group">
          {{ > input type='text' name='surName' label='Prénom' value=profile.surName }}
        </div>
        <div class="form-group">
          {{ > input type='email' name='email' label='Adresse Email' value=profile.email }}
        </div>
        <div class="form-group">
          <button type="submit" name="button" class="textCapitalize"><i class="im im-floppy-disk iconText textColorYellow"></i> Modifier mon profil</button>
        </div>
      </form>
    </div>
  </div>
</template>
