<template name="frontRegister">
  <div class="frontBody frontBodyLogin">
    <section class="frontLogin">
      <h2 class="textCapitalize textPlaceholding textWeightLighter">Inscription</h2>
      <form>
        <div class="formControl">
          <label for="name" class="textWeightLighter textCapitalize textPlaceholding">Nom</label>
          <input class="textSizeNormal" type="text" id="name" name="name" value="">
        </div>
        <div class="formControl">
          <label for="surname" class="textWeightLighter textCapitalize textPlaceholding">Prénom</label>
          <input class="textSizeNormal" type="text" id="surname" name="surname" value="">
        </div>
        <div class="formControl">
          <label for="mail" class="textWeightLighter textCapitalize textPlaceholding">Adresse Email</label>
          <input class="textSizeNormal" type="mail" id="username" name="mail" value="">
        </div>
        <div class="formControl">
          <label for="username" class="textWeightLighter textCapitalize textPlaceholding">Nom d'utilisateur</label>
          <input class="textSizeNormal" type="text" id="username" name="username" value="">
        </div>
        <div class="formControl">
          <label for="password" class="textWeightLighter textCapitalize textPlaceholding">Mot de passe</label>
          <input class="textSizeNormal" type="password" id="password" name="password" value="">
        </div>
        <div class="formControl">
          <label for="password2" class="textWeightLighter textCapitalize textPlaceholding">Confirmez le mot de passe</label>
          <input class="textSizeNormal" type="password" id="password2" name="password2" value="">
        </div>
        <div class="formControl">
          <button type="submit" name="button" class="textCapitalize textWeightBold textSizeNormal"><i class="textIcon im im-sign-in"></i> Connexion</button>
        </div>
      </form>
    </section>
  </div>
    <div class="frontLoginBackground"></div>
</template>
