/*

  FORMS IN CUBA

*/

select {
  background: none;
  padding: 5px 7px;
  border-radius: 100px;
  margin: 15px 0px;

  option {
    color: black !important;
  }
}

button {
  background-color: $colorMainRed;
  border: 1px solid rgba(white, 0.1);
  border-radius: 0;
  padding: 15px;
  cursor: pointer;
  transition: 0.15s;
  &:hover {
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
  &.action {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 999;
  }
}

input[type=text], input[type=password], input[type=mail], textarea {
  background: none;
  border: 1px solid rgba(white, 0.1);
  width: 100%;
  padding: 15px;
  margin: 15px 0px;
  color: white;
  transition: 0.45s;

  &:focus {
    background-color: $colorMainRed;
    border-radius: 3px;
  }
}

.asideBtn {
  @extend button;
  margin-bottom: 25px;

  &.red {
    background-color: $colorMainRed;
  }

  &.yellow {
    background-color: $colorMainYellow;
    color: black !important;
  }
}

// FORM CONTAINER

$inputPadding: 0px 15px;

.formContainer {
  padding: 45px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  .closeIcon {
    i {
      position: absolute;
      top: 150px;
      right: 150px;
      font-size: 48px;
      cursor: pointer;
      transition: 0.15s;
      color: $colorMainYellow;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .textStyle {
    text-transform: uppercase;
    color: $colorTextFade;
    font-weight: $textWeightBolder;
    font-size: 40px;
    padding: $inputPadding;
  }

  form {

    padding: 45px;

    .form-group {
      position: relative;
    }

    ul.inputSelect {
      height: 60px;
      overflow-y: hidden;
      cursor: pointer;
      position: relative;
      transition: 0.25s;

      i.selectIcon {
        position: absolute;
        color: $colorTextFade;
        right: 0;
        font-size: 24px;
        top: 10px;
        top: 50%;
        margin-top: -20px;
      }

      li {
        @extend .textStyle;
      }

    }

    label {
      @extend .textStyle;
      position: absolute;
      z-index: -999;
      top: 15px;
    }

    button {
      @extend .textStyle;
      background-color: inherit;
      color: $colorMainYellow;
      border: 0;
      padding: 0;
      margin: 15px 15px;

      i.iconText {
        font-size: 28px;
      }
    }

    input[type="text"]{
      border: 0;
      border-radius: 0;
      padding: 0px 0px 0px 15px;
      @extend .textStyle;
      transition: 0.15s;

      &:focus {
        background-color: inherit;
      }

      &.active {
        background-color: $colorBackgroundAside;
      }
    }

  }
}
