/*

  GRID IN CUBA

*/

$gridPaddingY: 60px;
$gridPaddingX: 60px;

$gridArticleX: 300px;
$gridArticleY: 300px;

$gridPaddingInsideX: 40px;

$headerWidth: 150px;
$asideWidth: 350px;
$additionWidth: $headerWidth + $asideWidth;

.GridContainer {
  padding: $gridPaddingY $gridPaddingX;
}

body.back {

header {
  width: $headerWidth;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  left: 0;
}

div.content {
  width: calc(100% - #{$additionWidth});
  margin-left: $headerWidth;
}

main {
  justify-content: space-between;
  flex-direction: column;

  section {

    &.head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: $asideWidth;
  background-color: $colorBackgroundAside;
}

}

// FRONT

.frontGridContainer {
  width: 960px;
  margin: 0 auto;
}

// CLASS

.gridFlexPriority {
  flex: 1;
}

.gridListArticle {

  display: flex;
  flex-flow: row wrap;

  &.gridListArticleSearch {
    display: flex;
    justify-content: center;
    margin: $gridPaddingInsideX 0px;

    .gridArticle {
      margin: $gridPaddingInsideX / 2;
    }
  }

  .gridArticle {
    display: flex;
    flex-direction: column;
    width: $gridArticleX;
    height: $gridArticleY;
    padding: 0px $gridPaddingInsideX;
    justify-content: center;
    position: relative;
  }

  .gridArticleBig {
    width: $gridArticleX * 1.5;
  }

  .gridArticleNormal {
    width: $gridArticleX;
  }
}
