/*

  GRID IN CUBA

*/


$headerWidth: 150px;
$asideWidth: 350px;
$additionWidth: $headerWidth + $asideWidth;

$gridPaddingY: 60px;
$gridPaddingX: 60px;

$gridArticleX: calc(((100vw - #{$additionWidth+60px}) * 0.9 / 3) - #{$gridPaddingY});
$gridArticleY: $gridArticleX;

$gridPaddingInsideX: 40px;

.GridContainer {
  padding: $gridPaddingY $gridPaddingX;
}

body.back {

header {
  width: $headerWidth;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  left: 0;
}

div.content {
  width: calc(100vw - #{$additionWidth});
  margin-left: $headerWidth;
}

main {
  justify-content: space-between;
  flex-direction: column;

  section {

    &.head {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: $asideWidth;
  background-color: $colorBackgroundAside;
}

}

// FRONT

.frontGridContainer {
  width: 960px;
  margin: 0 auto;
}

// CLASS

.gridFlexPriority {
  flex: 1;
}

.gridListArticle {

  display: flex;
  flex-flow: row wrap;

  &.gridListArticleSearch {
    display: flex;
    justify-content: space-between;
    margin: $gridPaddingInsideX auto;
    width: 90%;

    &:after {
      content: "";
      width: $gridArticleX;
    }
  }

  .gridArticle {
    display: flex;
    flex-direction: column;
    width: $gridArticleX;
    height: $gridArticleY;
    padding: 0px $gridPaddingInsideX;
    justify-content: center;
    position: relative;
    margin-bottom: 63px;
  }
}
