/*

  INITIALIZE

*/

* {
  outline-style: none;
  box-sizing: border-box;
  font-family: 'Brandon Grotesque';
  text-decoration: none;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
